{% extends 'base.html' %}
{% block title %}
Dashboard de {{ user}}
{% endblock%} 
{% block content %}
{% include 'parcials/_messages.html' %}
<p style="color: rgba(31, 0, 141, 0.096);">Dashboard</p>
<h1 class="mt-3 mb-3">Olá, {{ user.first_name }} {{ user.last_name }}</h1>

<p>
    Nome de usuário: {{ user }}
</p>
<div class="container">
    <form method="POST" action="{% url 'dashboard' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
